<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--測試庫-->
    <!--<add key="HWDMES" value="Provider=OraOLEDB.Oracle.1;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.120.147.250)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=SFCTEST)));Persist Security Info=True;User ID=TEST;Password=SFCTEST;"/>-->
    <add key="HWDMES" value="Provider=OraOLEDB.Oracle.1;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.120.176.75)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=MESDB)));Persist Security Info=True;User ID=TEST;Password=SFCTEST;"/>
    <add key="HWD_SAP_AppServerHost" value="10.134.108.144"/>
    <add key="HWD_SAP_SystemNumber" value="01"/>
    <add key="HWD_SAP_User" value="HWV-BG"/>
    <add key="HWD_SAP_Password" value="MESEDICU"/>
    <add key="HWD_SAP_Client" value="811"/>
    <add key="HWD_SAP_Language" value="ZF"/>
    <add key="HWD_SAP_Plant" value="WDN1"/>
    <add key="HWD_SAP_MessageServerHost" value="10.134.108.111"/>
    <add key="HWD_SAP_LogonGroup" value="CNSBG"/>
    <add key="HWD_APDB" value="Data Source=hwdnewdb;Persist Security Info=True;User ID=ap2;Password=mbdap2session;Unicode=True;Provider=MSDAORA" />
    <!--<add key="HWD_OLD_SFCDB" value="Provider=MSDAORA;          Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.120.176.100)(PORT=1527)))(CONNECT_DATA=(SERVICE_NAME=hwdodb)));Persist Security Info=True;User ID=motouser;Password=mototest;" />-->   
    <add key="HWD_OLD_SFCDB" value="Provider=OraOLEDB.Oracle.1;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.120.176.100)(PORT=1527)))(CONNECT_DATA=(SERVICE_NAME=hwdodb)));Persist Security Info=True;User ID=motouser;Password=mototest;"/>
    
    <add key="VERTIVODB" value="Provider=OraOLEDB.Oracle.1;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.120.246.140)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=VERTIVODB)));Persist Security Info=True;User ID=TEST;Password=SFCTEST;"/>
    <add key="VERTIVAP" value="Data Source=VERTIVAP;Persist Security Info=True;User ID=ap2;Password=mbdap2session;Unicode=True;Provider=MSDAORA" />
    <add key="VERTIV_SAP_AppServerHost" value="10.134.108.144"/>
    <add key="VERTIV_SAP_SystemNumber" value="05"/>
    <add key="VERTIV_SAP_User" value="NSGBG"/>
    <add key="VERTIV_SAP_Password" value="MESEDICU"/>
    <add key="VERTIV_SAP_Client" value="800"/>
    <add key="VERTIV_SAP_Language" value="ZF"/>
    <add key="VERTIV_SAP_Plant" value="NLEZ"/>
    <add key="VERTIV_SAP_MessageServerHost" value="10.134.108.111"/>
    <add key="VERTIV_SAP_LogonGroup" value="CNSBG"/>
    
    <!--tjl5-->
    <add key="TJL5ODB" value="Provider=OraOLEDB.Oracle.1;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.67.38.39)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=CLOUDMESTEST.CESBG.FOXCONN)));Persist Security Info=True;User ID=TEST;Password=SFCTEST;"/>
    <add key="VERTIV_SAP_AppServerHost" value="10.134.28.85"/>
    <add key="VERTIV_SAP_SystemNumber" value="02"/>
    <add key="VERTIV_SAP_User" value="SFC_USER"/>
    <add key="VERTIV_SAP_Password" value="yhpwd"/>
    <add key="VERTIV_SAP_Client" value="801"/>
    <add key="VERTIV_SAP_Language" value="en"/>
    <add key="VERTIV_SAP_Plant" value="GHUE"/>
    <add key="VERTIV_SAP_MessageServerHost" value="10.134.28.85"/>
    <add key="VERTIV_SAP_LogonGroup" value="CESBG"/>
    
  </appSettings>
</configuration>