<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
      <add key="HWMesWebProxyIP" value="10.120.176.176"/>
      <add key="HWMesWebProxyPort" value="80"/>
    </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HateEmsGetDataServiceImplServiceSoapBinding"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.30.44.57/mesplus-nnfsk/services/HateEmsGetDataService" binding="basicHttpBinding" bindingConfiguration="HateEmsGetDataServiceImplServiceSoapBinding" contract="HateEmsGetDataService.HateEmsGetDataService" name="HateEmsGetDataServiceImplPort"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
