<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="MaxPoolSize" value="300"/>
    <add key="MinPoolSize" value="2"/>
    <add key="PoolTimeOut" value="3"/>
    <add key="ActiveTimeOut" value="3600"/>
    <add key="BorrowTimeOut" value="300"/>
    <add key="Language" value="MESSAGE_CHS,MESSAGE_CHT,MESSAGE_EN"/>
    <add key="HWMesWebProxyIP" value="10.120.176.176"/>
    <add key="HWMesWebProxyPort" value="80"/>
    <add key="HWMesWebFactory" value="NNFSK"/>
    <add key="HWMesWebUserName" value="G6000158"/>
    <add key="HWMesWebProcStep" value="1"/>
    <add key="HWMesWebOperation" value="111"/>
    <add key="HWMesWebBarcodeType" value="LOT_ID"/>
    <add key="HWMesWebService" value="GET_PRODUCT_INFO_EMS_BY_SN"/>
    <add key="HWMesWebLanguage" value="1"/>
    <add key="WebFilePath" value="H:\MIS\MES_Project\WebClient\DOWNLOAD"/>
  
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HateEmsGetDataServiceImplServiceSoapBinding"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.30.44.57/mesplus-nnfsk/services/HateEmsGetDataService" binding="basicHttpBinding" bindingConfiguration="HateEmsGetDataServiceImplServiceSoapBinding" contract="HateEmsGetDataService.HateEmsGetDataService" name="HateEmsGetDataServiceImplPort"/>
    </client>
  </system.serviceModel>
</configuration>
